body, 
html {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h2 {
	color: rgb(61, 61, 61);
	font-size: 2.25rem;
	font-weight: bold;
	margin-bottom: 25px;
}

h3 { 
	font-size: 1.85rem;
	font-weight: 700;
	color: rgb(61, 61, 61);
	padding: 32px 0;
}

h4 {
	font-size: 1.20rem;
	font-weight: 500;
	color: rgb(61, 61, 61);
}

p {
	font-size: 0.90rem;
	font-weight: 300;
	line-height: 150%;
	color: rgb(61, 61, 61);
}

h6, a {
	font-size: 0.85rem;
	color: rgb(77, 79, 79);
}

.mobile-menu, 
.mobile-img,
.mobile-tabs,
.video-mobile {
	display: none;
}


/* Header Section */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	padding-left: 24px;
	padding-right: 24px;
}

.logo, 
.menu ul {
	display: flex;
	align-items: center;
}

.logo img {
	height: 3rem;
}

.logo h3 {
	font-size: 1.25rem;
	font-family: 'Exo 2', sans-serif;
	font-weight: lighter;
	color: rgb(75, 79, 79);
}

.logo span {
	font-weight: bold;
}

.menu li {
	margin-left: 1rem;
}

.menu a {
	text-decoration: none;
	color: rgb(75, 79, 79);
	font-size: 1rem;
	font-weight: 400;
}

.menu a:hover {
	font-weight: bold;
}
/* Banner Section */

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(198, 233, 225);
	padding: 32px 24px;
}

.banner img {
	width: 60%;
}

.banner-content {
	margin-left: 40px;
}

.banner-content h4 {
	margin-bottom: 2rem;
}

.banner a {
	padding: .5rem 7rem;
    background-color: white;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px; 
    color: black;
}

.banner a:hover {
	font-weight: bold;
}


/* Article section */

.article {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.article-container {
	display: flex;
}


.main-article {
	width: 60%;
	padding: 32px 24px;
}

.main-article img {
	width: 100%;	
}

.article h6 {
	padding-top: 32px;
}

.sub-article {
	width: 423px;
	margin-left: 24px;
	margin-top: 16px;
}

.sub-article a {
	text-decoration: none;
	color: rgb(99, 147, 203);
}

.info-box {
	display: flex;
	align-items: center;
}

.info-box img {
	width: 35%;
	margin: 16px;
}

.info-box:last-child {
	background-color: rgb(245, 243, 200);
}

#info {
	margin: 8px 0;
}
/* Course section */

.courses {
	padding-bottom: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	background-color: rgb(225, 244, 244);
}

.course-container {
	width: 85%;
}

.row-one, 
.row-two {
	display: flex;
}

.row-one {
	margin-bottom: 16px;
}

.course-box {
	width: 33%;
	background-color: white;
	border: solid grey thi;
	border-radius: 5px;
}

.course-box img {
  width: 100%;
}

.description {
	margin: 16px 16px 24px 16px;	
}

#box-middle {
	margin: 0 32px;
}

#courses {
	margin: 8px 0;
}

/* Exhibit starts here */

.exhibit {
	
	display: flex;
	align-items: center;
	flex-direction: column;
}

.exhibit h4 {
	padding-bottom: 24px;
}

.exhibit-container {
	display: flex;
}

.main-exhibit {
	padding: 0 16px 32px 24px;
	width: 60%;
}

.exhibit-content {
	margin-top: 24px;
}

.exhibit-box:first-child {
	background-color: rgb(224, 232, 232);
}

video {
	width: 100%;
}

.exhibit-box {
	width: 423px;
	height: 168px;
	display: flex;
	align-items: center;
}

.exhibit-box img {
	width: 35%;
	padding: 16px;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/* Footer starts here */
 .footer {
 	display: flex;
 	justify-content: space-between;
 	padding: 32px 24px;
 	border-top: solid grey thin;
 }


.legal {
	display: flex;
}

.legal h6 {
	margin-right: 20px;
}

.legal a {
	text-decoration: none;
}

.legal a:hover {
	font-weight: 500;
}


/* Media Query for 480px and smaller */

@media only screen and (max-width: 480px) {

	.header {
		width: 100%;
		padding: 0px;
	}

	.mobile-menu {
		height: 64px;
		display: flex;
		width: 100%;
	}

	.icons {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.icons img:hover {
		background-color:rgb(251, 251, 251);
		padding: 10px 20px;
		border-radius: 50%;
	}

	.logo, 
	.menu {
		display: none;
	}

	/* Banner */

	.banner {
		display: block;
		padding: 0;
		padding-bottom: 32px;
	}

	.banner img {
		height: 180px;
		width: 100%;

	}

	.banner-content {
		margin-left: 16px;
	}

	.banner-content h2 {
		margin: 32px 0;

	}

	.button {
		margin-top: 24px;
		width: 100%;
	}

	/* Article */
	
	.article-container {
		background-color: yellow;
		width: 100%;
	}

	.main-article {
		display: none;
	}

	.sub-article {
		padding-top: 0px;
		padding-bottom: 32px;
		margin: 0;
		width: 100%;
	}

	.info-box {
		display: block;
		background-color: red;
		margin: 16px 16px 0 16px; 
	}

	.info-box img {
		display: none;
	}

	.mobile-img {
		display: block;
		width: 100%;
	}

	/* Courses */

	.course-container {
		display: none;
	}

	.courses {
		background-color: white;
	}

	.mobile-tabs {
		display: block;
		width: 92%;
	}

	.tabs h3 {
		background-color: rgb(235, 237, 239);
		padding: 16px;
		font-size: 1.25rem;
		margin: 0 16px 8px 16px;
		border-radius: 5px;
		font-weight: 500;
	}

	.tabs h3:hover {
		background-color: rgb(199, 203, 200);
	}

	/* Exhibit */
	.exhibit-content,
	.sub-exhibit {
		display: none;
	}

	.exhibit {
		padding-bottom: 24px;
	}

	.main-exhibit {
		width: 100%;
		padding: 0;

	}
	.main-exhibit video {
		width: 100%;
	}


	/* Footer */

	.footer {
		padding: 16px 0;
		border: none;
		font-size: 0.80rem;
		display: flex;
		justify-content: center;
	}

	.legal {
		display: none;
	}
